$link-color: white;

.navcontainer {
    background-color: #36454f;

    &__navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1.45rem 1.0875rem;
        background-color: #36454f;

        &__title {
            margin: 0;
            font-size: 3rem;
        }
    }

    &__items {
        display: flex;
        list-style: none;

        &__link {
            margin: 1rem;
            font-size: 1.2rem;
        }
    }
}