body {
    background-image: url('../../images/woody-flower-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

h1 {
    color: white;
}