.menucontainer {
    background-image: url('../../images/woody-flower-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

    &__header {
        padding-top: 7.5rem;
    }
}

h1 {
    color: white;
}