.menuhero-container {
    background-image: url("../../images/beverage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    &__info {
        color: white;
    }
}