@import url('https://fonts.googleapis.com/css?family=Crete+Round|Raleway&display=swap');

$font-header: 'Crete Round', serif;
$font-content: 'Raleway', sans-serif; 

h1 {
  font-family: $font-header;
}

p {
  font-family: $font-content;
}
